*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url("./snow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

h1{
    font-size: 4rem;
    margin-top: 10rem;
    font-weight: normal;

}
.countdown-container{
    display: flex;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
    font-size: 1.5rem;

}